@using System.Web.Mvc.Html
@using Umbraco.Web
@using WebExplorer.Controllers
@using WebExplorer.Models
@model Umbraco.Web.Models.ContentModel

@{
    Layout = "WebBase.cshtml";



}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Explorer</title>
    <meta name="description" content="Explorer Website.">
    <meta name="keywords" content="The Explorer website.">

    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">

    <link href="~/css/styles-merged.css" rel="stylesheet" />

    <link href="~/css/style.min.css" rel="stylesheet" />

    <link href="~/css/custom.css" rel="stylesheet" />
    <script src="~/scripts/html5shiv.min.js"></script>
    <script src="~/scripts/vendor/respond.min.js"></script>
</head>

<div>
    <div class="container" style="padding-top: 60px;">
        <h1 class="page-header">Profile Information</h1>
        <div class="tab-pane active" id="username">
            <h3>Avatar</h3>

        </div>
